-let internalSaludo = 'Internal Module';	
section(class="main-container border border-[steelblue]") 
	div(class="container  border border-[tomato]") 
		h2(class='internal-module-style') grid 1 column
		div(class='grid grid-cols-1 gap-5')
			-for(let i = 1; i<=1; i++)
				div(class='bg-red-300 min-[640px]:max-[1280px]:bg-[blue] h-32 flex items-center justify-center')
					span: b= internalSaludo
						| #{i}
	div(class="container  border border-[tomato]") 
		h2(class='internal-module-style') grid 2 columns
		div(class='grid grid-cols-1 sm:grid-cols-2 gap-5')
			-for(let i = 1; i<=2; i++)
				div(class='bg-red-300 min-[640px]:max-[1280px]:bg-[blue] h-32 flex items-center justify-center')
					span: b= internalSaludo
						| #{i}
	div(class="container  border border-[tomato]") 
		h2(class='internal-module-style') grid 3 columns
		div(class='grid grid-cols-1 sm:grid-cols-2 m:grid-cols-3 gap-5')
			-for(let i = 1; i<=3; i++)
				div(class='bg-red-300 min-[640px]:max-[1280px]:bg-[blue] h-32 flex items-center justify-center')
					span: b= internalSaludo
						| #{i}
	div(class="container  border border-[tomato]") 
		h2(class='internal-module-style') grid 4 columns
		div(class='grid grid-cols-1 sm:grid-cols-2 m:grid-cols-3 l:grid-cols-4 gap-5')
			-for(let i = 1; i<=4; i++)
				div(class='bg-red-300 min-[640px]:max-[1280px]:bg-[blue] h-32 flex items-center justify-center')
					span: b= internalSaludo
						| #{i}
	div(class="container  border border-[tomato]") 
		h2(class='internal-module-style') grid 5 columns
		div(class='grid grid-cols-1 sm:grid-cols-2 m:grid-cols-3 l:grid-cols-4 lg:grid-cols-5 gap-5')
			-for(let i = 1; i<=5; i++)
				div(class='bg-red-300 min-[640px]:max-[1280px]:bg-[blue] h-32 flex items-center justify-center')
					span: b= internalSaludo
						| #{i}
	div(class="container  border border-[tomato]") 
		h2(class='internal-module-style') grid 6 columns
		div(class='grid grid-cols-1 sm:grid-cols-2 m:grid-cols-3 l:grid-cols-4 lg:grid-cols-6 gap-5')
			-for(let i = 1; i<=6; i++)
				div(class='bg-red-300 min-[640px]:max-[1280px]:bg-[blue] h-32 flex items-center justify-center')
					span: b= internalSaludo
						| #{i}
	div(class="container  border border-[tomato]") 
		h2(class='internal-module-style') grid 7 columns
		div(class='grid grid-cols-1 sm:grid-cols-2 m:grid-cols-3 l:grid-cols-4 lg:grid-cols-7 gap-5')
			-for(let i = 1; i<=7; i++)
				div(class='bg-red-300 min-[640px]:max-[1280px]:bg-[blue] h-32 flex items-center justify-center')
					span: b= internalSaludo
						| #{i}
	