-let internalSaludo = 'Internal Module';	
section(class="main-container border border-[steelblue]") 
	div(class="container  border border-[tomato]") 
		h2(class='internal-module-style') grid
		div(class='grid grid-cols-1 sm:grid-cols-2 m:grid-cols-3 l:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 xxl:grid-cols-7 gap-5')
			-for(let i = 1; i<=10; i++)
				div(class='bg-red-300 min-[640px]:max-[1280px]:bg-[blue] h-32 flex items-center justify-center')
					span: b= internalSaludo
						| #{i}
section(class="main-container border border-[steelblue]") 
	div(class="container  border border-[tomato]") 
		h2 side bar
		div(class='flex flex-col lg:flex-row')
			div(class='order-2 lg:order-1 w-full lg:w-[400px] bg-gray-300 h-32') first Div
			div(class='order-1 lg:order-2 w-full lg:flex-1 bg-gray-200 h-32') Second Div
section(class="main-container border border-[steelblue]") 
	div(class="container  border border-[tomato]") 
		table
			thead
				tr
					-for(let i = 1; i<=5; i++)
						th lorem
							| #{i}
			tbody
				-for(let i = 1; i<=5; i++)
					tr
						-for(let i = 1; i<=5; i++)
							td lorem
								| #{i}
		ul
			-for(let i = 1; i<=5; i++)
				li lorem
					| #{i}
		ol
			-for(let i = 1; i<=5; i++)
				li lorem
					| #{i}
section(class="main-container border border-[steelblue]") 
	div(class="container  border border-[tomato]") 
		p
			| Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi,
			| dolorem autem maiores quis dolor, reprehenderit delectus quia dolore,
			| incidunt obcaecati sequi labore hic? Soluta doloremque vitae explicabo
			| assumenda fugit tenetur.
		p
		| Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi,
		| dolorem autem maiores quis dolor, reprehenderit delectus quia dolore,
		| incidunt obcaecati sequi labore hic? Soluta doloremque vitae explicabo
		| assumenda fugit tenetur.
